<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <link rel="stylesheet" th:href="@{/css/common.css}">
    <div class="header">
    
    	<img src="../images/로고(글자포함)ver1.png" onclick="location.href='/'" width="120px" id="logo">
    
        
        <div class="login-area" align="right">
        
            <th:block sec:authorize="isAnonymous()">
                <div class="btns">
                    <input type="button" value="로그인" id="login">
                </div>
            </th:block>

            <th:block sec:authorize="isAuthenticated()">
                <div class="login-info">
                    <h3><span sec:authentication="principal.name"></span>님의 방문을 환영합니다.</h3>
                    <div class="btns">
                        <input type="button" class="btn btn-yg" value="정보수정" id="updateMember">
                        <input type="button" class="btn btn-or" value="로그아웃" id="logout">
                    </div>
                </div>
            </th:block>
        </div>
    </div>

    <div class="menu-area">
        <div class="nav-area">
            <ul style="display:flex; list-style-type:none; justify-content:center;">
                <li style="padding-right:45px;"><a th:href="@{/}">홈으로</a></li>
                 <li style="padding-right:45px;"><a th:href="@{/}">판매</a></li>
                  <li style="padding-right:45px;"><a th:href="@{/}">구매</a></li>
                  <li style="padding-right:45px;"><a th:href="@{/free/list}">자유게시판</a></li>
                  <li style="padding-right:60px;"><a th:href="@{/}">공지사항</a></li>
                <li style="padding-right:60px;"><a th:href="@{/admin/search}"><span class="material-icons">settings</span>회원관리</a></li>
                <li style="padding-right:30px;"><a th:href="@{/admin/list2}"><span class="material-icons">leaderboard</span>수익금</a></li>
            </ul>
        </div>
    </div>

</html>

